Romeo Color
= form_tag 'sort_by_sherpa', :method => "get", :id => 'filter_romeo_form' do
  %p= select_tag 'romeo_color', options_for_select(Publisher::ROMEO_COLORS, :selected => params[:romeo_color]), :prompt => 'Select RoMEO Color', :id => 'filter_romeo'
- if @works != []
  %table
    %thead
      %tr
        %th Work
        %th Authors
        %th Email
        %th Date
        %th Publication
        %th Publisher
        %th Color According to S/R
    %tbody
      - counter = (10 * (@page_count.to_i-1)) + 1
      - @works.each do |work|
        %tr{:style => "border-bottom:1px dashed #ccc;"}
          %td= link_to work.sort_name, work_path(work.id)
          %td
            - @people = Person.all
            - for @person in @people do
              - if @person.scoring_hash
                - if @person.scoring_hash[:publication_ids].include? work.publication_id
                  %p=  @person.display_name
          %td
            - @people = Person.all
            - for @person in @people do
              - if @person.scoring_hash
                -if @person.scoring_hash[:publication_ids].include? work.publication_id
                  %p= @person.email
          %td= work.created_at
          - counter.to_i
          - counter = counter + 1
          %td= link_to Publication.find_by_id(work.publication_id).sort_name, publication_path(Publication.find_by_id(work.publication_id))
          %td= link_to Publisher.find_by_id(work.publisher_id).sort_name, publisher_path(Publisher.find_by_id(work.publisher_id))
          %td
            =# work.publication.issn_isbn
            =# link_to 'Find Color in Sherpa/Romeo', 'http://www.sherpa.ac.uk/romeo/search.php?issn=' + work.publication.issn_isbn 
            =# Publisher.retrieve_journals_by_issn(work.publication.issn_isbn)
            - if !work.publication.issn_isbn.nil? && !Publisher.retrieve_journals_by_issn(work.publication.issn_isbn).nil?
              = link_to Publisher.retrieve_journals_by_issn(work.publication.issn_isbn), 'http://www.sherpa.ac.uk/romeo/search.php?issn=' + work.publication.issn_isbn 
            - elsif !work.publication.issn_isbn.nil?
              Not a valid ISBN format
            - else
              No ISSN_ISBN
%div{:style => "text-align:center;"}= will_paginate @works
:javascript
  $(document).ready(function(){
    $('#filter_romeo').change(function(){
      $('#filter_romeo_form').submit();
    })
  })
