!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %meta{:name => 'requested-locale', :content => (I18n.locale || I18n.default_locale).to_s}
    = stylesheet_link_tag "blueprint/screen", :media => "screen"
    = stylesheet_link_tag "blueprint/local",  :media => "screen"
    = stylesheet_link_tag "blueprint/print",  :media => "print"
    = stylesheet_link_tag "specific/shared/_header", :media => "screen"
    = stylesheet_link_tag "ui-lightness/jquery-ui-1.8.16.custom"
    = stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :media => "screen"
    = stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :media => "screen"
    = stylesheet_link_tag "http://library.wlu.edu/wp-content/plugins/sliding-panel/css/sliding-panel.css", :media => "screen"
    = stylesheet_link_tag "http://library.wlu.edu/wp-content/themes/leyburnlibrary-bootstrap/style.css", :media => "screen"
    = yield :stylesheets
    = javascript_include_tag :defaults
    = javascript_include_tag 'gbsclasses'
    = javascript_include_tag 'jsperanto/jquery.jsperanto'
    = javascript_include_tag 'jquery-ui.min'
    = javascript_include_tag 'locale'
    = csrf_meta_tag

    -if $DISPLAY_GOOGLE_ANALYTICS == true
      :javascript
        var googleAnalyticsId = "#{$GOOGLE_ANALYTICS_ID}";
      = javascript_include_tag 'specific/shared/google_analytics'

    - if (@feeds)
      - @feeds.each do |feed|
        = auto_discovery_link_tag(feed[:format].to_sym, { :action => feed[:action], :id => feed[:id], :format => feed[:format] })

    %title= t('personalize.application_name') + " - " + (@title || t('layouts.application.default_title'))
  %body
    #wlu-sersol-header
    #content.site-content
      #wlu-content.row
        #wlu-main-column.col-xs-12.col-md-10.col-lg-8.col-md-offset-1.col-lg-offset-2.content-area.subpages
          %main{id: 'main', class: 'site-main', role: 'main'}
            = render :partial => "shared/header"
            = yield :admin_bar
            #flash-messages.col-xs-12
              = render :partial => "shared/flash_messages"
            = yield
            -# = render :partial => "shared/footer"
    #wlu-sersol-footer
    = javascript_include_tag 'http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'
    -# = javascript_include_tag 'http://library.wlu.edu/wp-content/plugins/sliding-panel/js/sliding-panel.js'
    = javascript_include_tag 'http://library.wlu.edu/sersol/wlu-bibapp.js'
    = javascript_include_tag 'http://library.wlu.edu/wp-content/themes/leyburnlibrary-bootstrap/wlu-local.js'
    = stylesheet_link_tag "wlu.css", :media => "screen"
  = yield :javascripts
